* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
}
body {
  font-family: Menlo;
  font-size: 13px;
  padding: 1rem 40px;
}
#navinfo {
  border-bottom: 1px solid #ddd;
  height: 7.5%;
}
#log {
  height: 82.5%;
  overflow-y: scroll;
  padding-top: 1rem;
  width: 100%;
}
#log .entry {
  margin-bottom: 1rem;
}
#log .out {
  color: #999;
  text-align: right;
}
#prompt  {
  border-top: 1px solid #ddd;
  padding-top: 1rem;
  height: 10%;
  width: 100%;
}
#prompt input[type="text"] {
  border: none;
  font: inherit;
  outline: none;
  width: 95%;
}
.prompt { color: blue; }
.label { font-weight: bold; }
