* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column wrap;
  flex-flow: column wrap;
  font-family: Menlo;
  font-size: 13px;
  padding: 1rem 40px;
}

#sidebar {
  border-left: 1px solid #ddd;
  padding-top: 1rem;
  height: 100%;
  width: 30%;
}

.sidebar-pane {
  border-bottom: 1px solid #ccc;
  margin-bottom: 1rem;
  padding: 0 1.5rem;
}

.sidebar-pane p {
  margin-bottom: 1rem;
}

#log {
  height: 82.5%;
  overflow-y: scroll;
  padding-top: 1rem;
  padding-right: 2rem;
  width: 70%;
}

#log .entry {
  margin-bottom: 1rem;
}

#log .out {
  text-align: right;
}

#log .out.err {
  color: #ff0000;
}

#log .out.ok {
  color: #999;
}

#input-area {
  border-top: 1px solid #ddd;
  padding-top: 1rem;
  padding-right: 1rem;
  height: 10%;
  width: 70%;
}

#input-area input[type="text"] {
  border: none;
  font: inherit;
  outline: none;
  width: 95%;
}

.prompt {
  color: blue;
}

.label {
  font-weight: bold;
}

.columns-list {
  -webkit-align-content: flex-start;
  align-content: flex-start;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column wrap;
  flex-flow: column wrap;
  height: 5rem;
  list-style: none;
  margin-bottom: 1rem;
}

.columns-list li {
  padding-right: 1.5rem;
}
